* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(2, 17, 39);
  color: white
}
.container {
  padding: 30px 70px;
}
.series-header {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 25px;
}
.score-container {
  display: flex;
  gap: 20px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
.card {
  padding: 10px;
  background-color: rgb(9, 129, 185);
  text-align: center;
  cursor: pointer;
}
.card img {
  border-radius: 8px;
}